  <td class="content">
    <p class="footer__text">Estamos sempre aqui para ajudar com o que você precisar.</p>
    <div style="margin: 30px">
      <table align="center">
        <tr>
          <td> <img src="<%= sanitize(@cdn_url) %>/new_device_for_user/email.png" /> </td>
          <td><strong class="footer__text">ola@vindi.com.br</strong></td>
        </tr>
      </table>
      <table align="center">
        <tr>
